/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
gmp-map {
  position: absolute;
  top: 160px;
  right: 20px;
  width: 1000px;
  height: 400px;
  border: 3px solid #73AD21;
}

/* Optional: Makes the sample page fill the window. */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

